* {
  font-family: Ubuntu;
}

.header {
  z-index: 100;
  position: relative;
}
.logo .page,
.logo .page span {
  font-family: CursiveText;
}

.logo .img {
  filter: invert(100%);
}

/* Search_Area */
.Head_Input_Area {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.News-input {
  border-radius: 10px;
  width: 60%;
  height: 30px;
  text-align: center;
  color: black;
  font-family: Ubuntu;
}
.Search_Btn {
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 80px;
  height: 30px;
  font-weight: bold;
}
.Search_Btn:hover {
  background-color: #d87093;
  color: black;
}

@media screen and (max-width: 767px) {
  .News-input {
    width: 40%;
    height: 30px;

  }
.Search_Btn{
}

}


.link li {
  position: relative;
}
.link li::after {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 2px;
  left: 0%;
  background: #d87093;
  width: 0%;
  transition: 0.3s ease-in-out all;
}

.link li:hover::after {
  width: 100%;
}

.toggle .open,
.toggle.active .close {
  display: block;
}

.toggle .close,
.toggle.active .open {
  display: none;
}

@media screen and (max-width: 767px) {
  .link li:hover::after {
    width: 0;
  }
}
